<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>寶可夢屬性相剋表</title>
  <link rel="stylesheet" href="css/all.css">
  <link rel="apple-touch-icon" sizes="57x57" href="img/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="60x60" href="img/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="img/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="img/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="img/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="img/apple-touch-icon-152x152.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon-180x180.png" />
  <link rel="icon" type="image/png" href="img/favicon.png" />

  <!-- meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="description" content="一個你各位訓練家在進行寶可夢遊戲時，能查詢屬性相剋關係，的表。" />
  <meta property="og:description" content="一個你各位訓練家在進行寶可夢遊戲時，能查詢屬性相剋關係，的表。" />
  <meta itemprop="image" content="img/meta.jpg" />
  <meta property="og:image" content="img/meta.jpg" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="寶可夢屬性相剋表" />

</head>

<body>
  <div id="app">
    <div class="content">
      <div class="attr_content">
        <div class="title" style="background-color: #424242;">防禦方</div>
        <ul class="attr_list">
          <!-- <li class="item">火</li> -->
          <li v-for="item in attrList" class="item" :class="{active:activeAttr == item.id}"
            :style="{ backgroundColor : item.color }" @click="activeAttr = item.id">
            <img :src="'img/'+item.name+'.png'" alt="">
            <span>{{item.name}}</span>
          </li>
        </ul>
      </div>
      <div class="result_content">
        <div class="title" style="background-color: #F63B4C;">攻擊方</div>
        <div class="result_list">
          <!-- 2x -->
          <div class="result_item" v-if="attrList[activeAttr].good">
            <h4 style="color: rgb(144 161 23);">2x</h4>
            <ul>
              <li v-for="item in attrList[activeAttr].good" :style="{ backgroundColor : attrList[item].color }">
                {{attrList[item].name}}</li>
            </ul>
          </div>
          <!-- 1/2x -->
          <div class="result_item" v-if="attrList[activeAttr].bad">
            <h4 style="color: rgb(243 63 119);">1/2x</h4>
            <ul>
              <li v-for="item in attrList[activeAttr].bad" :style="{ backgroundColor : attrList[item].color }">
                {{attrList[item].name}}</li>
            </ul>
          </div>
          <!-- 0x -->
          <div class="result_item" v-if="attrList[activeAttr].none">
            <h4 style="color: rgb(144 153 161);">0x</h4>
            <ul>
              <li v-for="item in attrList[activeAttr].none" :style="{ backgroundColor : attrList[item].color }">
                {{attrList[item].name}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="js/attr.js"></script>
  <script src="js/vue.global.js"></script>
  <script type="module">
    const app = Vue.createApp({
      data() {
        return {
          attrList: attributes,
          activeAttr: 0
        };
      },
      components: {
      }
    });
    app.mount('#app');
  </script>
</body>

</html>