<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>寶可夢屬性相剋表</title>
  <link rel="stylesheet" href="css/all.css">
  <link rel="apple-touch-icon" sizes="57x57" href="img/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="60x60" href="img/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="img/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="img/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="img/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="img/apple-touch-icon-152x152.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon-180x180.png" />
  <link rel="icon" type="image/png" href="img/favicon.png" />

  <!-- meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="description" content="一個你各位訓練家在進行寶可夢遊戲時，能查詢屬性相剋關係，的表。" />
  <meta property="og:description" content="一個你各位訓練家在進行寶可夢遊戲時，能查詢屬性相剋關係，的表。" />
  <meta itemprop="image" content="img/meta.jpg?v2" />
  <meta property="og:image" content="img/meta.jpg?v2" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="寶可夢屬性相剋表" />

</head>

<body>
  <div id="app">
    <div class="content">
      <!-- 列表 -->
      <div class="attr_content">
        <div class="title" style="background-color: #424242;">防禦方</div>
        <ul class="attr_list">
          <li v-for="item in attrList" class="item" :class="{active:index.includes(item.id)}"
            :style="{ backgroundColor : item.color }" @click="setAttr(item.id)">
            <img :src="'img/'+item.name+'.png'" alt="">
            <span>{{item.name}}</span>
          </li>
        </ul>
      </div>
      <!-- 結果 -->
      <div class="result_content">
        <div class="title" v-if="index.length" style="background-color: #F63B4C;">攻擊方
        <!-- {{attrList[index[0]].name}} -->
        </div>
        <!-- 如果沒東西 -->
        <div class="list_none" v-if="index.length == 0">
          請選擇防禦方寶可夢的屬性
        </div>
        <div class="result_list" v-if="index.length != 0">
          <!-- 4x -->
          <div class="result_item" v-if="activeArr.foretimes.length != 0">
            <h4 style="color: #429f2e">4x</h4>
            <ul>
              <li v-for="item in activeArr.foretimes" :style="{ backgroundColor : attrList[item].color }">
                {{attrList[item].name}}</li>
            </ul>
          </div>
          <!-- 2x -->
          <div class="result_item" v-if="activeArr.double.length != 0">
            <h4 style="color: rgb(144 161 24)">2x</h4>
            <ul>
              <li v-for="item in activeArr.double" :style="{ backgroundColor : attrList[item].color }">
                {{attrList[item].name}}</li>
            </ul>
          </div>
          <!-- 1/2x -->
          <div class="result_item" v-if="activeArr.half.length != 0">
            <h4 style="color: rgb(244 129 11)">1/2x</h4>
            <ul>
              <li v-for="item in activeArr.half" :style="{ backgroundColor : attrList[item].color }">
                {{attrList[item].name}}</li>
            </ul>
          </div>
          <!-- 1/4x -->
          <div class="result_item" v-if="activeArr.quarter.length != 0">
            <h4 style="color: rgb(232 38 38)">1/4x</h4>
            <ul>
              <li v-for="item in activeArr.quarter" :style="{ backgroundColor : attrList[item].color }">
                {{attrList[item].name}}</li>
            </ul>
          </div>
          <!-- 0x -->
          <div class="result_item" v-if="activeArr.zero.length != 0">
            <h4 style="color: rgb(144 153 161)">0x</h4>
            <ul>
              <li v-for="item in activeArr.zero" :style="{ backgroundColor : attrList[item].color }">
                {{attrList[item].name}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="js/attr.js"></script>
  <script src="js/vue.global.js"></script>
  <script type="module">
    const app = Vue.createApp({
      data() {
        return {
          attrList: attributes,
          index: [],
          activeArr: {},
        };
      },
      components: {
      },
      methods: {
        setAttr(id) {
          let vm = this;
          let arrIndex = vm.index;
          let nowLen = arrIndex.length;

          if (nowLen == 0) {
            vm.index = arrIndex;
            vm.activeArr = vm.attrList[id];
            arrIndex.push(id);
          } else if (nowLen == 1) {
            arrIndex.push(id);
            let firstAttr = vm.attrList[arrIndex[0]];
            let secondAttr = vm.attrList[arrIndex[1]];

            let newForetimes = firstAttr.double.filter((e) => {
              return secondAttr.double.indexOf(e) > -1
            })

            let newDouble = firstAttr.double.filter((e) => {
              return secondAttr.double.indexOf(e) === -1
            }).concat(secondAttr.double.filter((f) => {
              return firstAttr.double.indexOf(f) === -1
            }))

            let repeat = firstAttr.double.filter((e) => {
              return secondAttr.half.indexOf(e) > -1
            })

            newDouble = newDouble.filter((e) => {
              return repeat.indexOf(e) === -1
            }).concat(repeat.filter((f) => {
              return newDouble.indexOf(f) === -1
            }));


            let repeat2 = secondAttr.double.filter((e) => {
              return firstAttr.half.indexOf(e) > -1
            })

            newDouble = newDouble.filter((e) => {
              return repeat2.indexOf(e) === -1
            }).concat(repeat2.filter((f) => {
              return newDouble.indexOf(f) === -1
            }))

            let newHalf = firstAttr.half.filter((e) => {
              return secondAttr.half.indexOf(e) === -1
            }).concat(secondAttr.half.filter((f) => {
              return firstAttr.half.indexOf(f) === -1
            }))

            newHalf = newHalf.filter((e) => {
              return repeat.indexOf(e) === -1
            }).concat(repeat.filter((f) => {
              return newHalf.indexOf(f) === -1
            }))
            newHalf = newHalf.filter((e) => {
              return repeat2.indexOf(e) === -1
            }).concat(repeat2.filter((f) => {
              return newHalf.indexOf(f) === -1
            }))

            let newQuarter = firstAttr.half.filter((e) => {
              return secondAttr.half.indexOf(e) > -1
            })

            let newZero = firstAttr.zero.concat(secondAttr.zero.filter((e) => {
              return firstAttr.zero.indexOf(e) === -1
            }))

            newDouble = newDouble.filter((e) => {
              return newZero.indexOf(e) === -1
            })

            newHalf = newHalf.filter((e) => {
              return newZero.indexOf(e) === -1
            })
            newQuarter = newQuarter.filter((e) => {
              return newZero.indexOf(e) === -1
            })
            newForetimes = newForetimes.filter((e) => {
              return newZero.indexOf(e) === -1
            })
            vm.activeArr = {
              'double': newDouble,
              'half': newHalf,
              'foretimes': newForetimes,
              'quarter': newQuarter,
              'zero': newZero,
            }
          } else if (nowLen == 2) {
            vm.index = arrIndex;
            vm.activeArr = vm.attrList[id];
            arrIndex = [];
            arrIndex.push(id);
            vm.index = arrIndex;
          }



        }
      },
      mounted() {
        // 初始化，顯示一般
        let vm = this;
        if (vm.activeArr.length) {
          vm.activeArr = vm.attrList[vm.index]
        }

      },
    });
    app.mount('#app');
  </script>
</body>

</html>